# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

JavaRecord.java
JavaSqlNetworkWordCount.java
JavaStructuredNetworkWordCount.java
SparkElasticsearch_old.java
OnlineStore_old.java
OnlineStore_new.java
Runnable.java
SparkHive_new.java
SparkHive_old.java
SparkHive_very_old.java
MyFirstHbaseTable.java
JavaSqlNetworkWordCount.java
