# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

JavaRecord.java
JavaSqlNetworkWordCount.java
JavaStructuredNetworkWordCount.java
SparkElasticsearch_old.java
OnlineStore_old.java